# Server Configuration
PORT=5000

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=8841599239:AAEIAZfe80Dgo2otyv3KxaYeok6BsCQS4v4
WEB_APP_URL=https://wat-chhouk-va-app.vercel.app
TELEGRAM_ADMIN_CHAT_ID=100000001

# Supabase Database Configuration (Optional for Cloud Hosting)
SUPABASE_URL=https://xyzcompany.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhvdWp1cXlhdWp5eXN2eGpoY3VkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1MDc4MjQsImV4cCI6MjEwMTA4MzgyNH0.bemdWK4ILYtpgK0mfI9FtHCDLFfcU-tusaMhHkGpk2M
